{{ if eq (index .Data `locale`) `es` }}
<h2>Confirma el cambio de tu contraseña</h2>

<p>
  Recibimos una solicitud para cambiar la contraseña de tu cuenta de Baseline.
  Escribe este código en los ajustes de la cuenta para confirmar que eres tú:
</p>

<p style="font-size: 24px; font-weight: bold; letter-spacing: 4px">
  {{ .Token }}
</p>

<p>
  Este código caduca pronto. Si no solicitaste un cambio de contraseña, puedes
  ignorar este mensaje sin problema. Tu contraseña no cambiará.
</p>
{{ else }}
<h2>Confirm your password change</h2>

<p>
  We received a request to change the password on your Baseline account. Enter
  this code back in the account settings to confirm it's really you:
</p>

<p style="font-size: 24px; font-weight: bold; letter-spacing: 4px">
  {{ .Token }}
</p>

<p>
  This code expires shortly. If you didn't request a password change, you can
  safely ignore this email — your password won't change.
</p>
{{ end }}
